textarea,
input{color: black;
}
.ch-info{
	cursor:pointer;
}
.navbar{ 
	margin-bottom: 0;
}
header .container{
	padding-top: 100px;
}

.question {
	margin-top: 20px;
	margin-bottom: 20px;
}

.question-text {
	font-size: 1.6em;
	margin-bottom: 20px;
}

.answer {
	width: 15%;
	display: inline-block;
	border: 1px solid white;
	border-radius: 20%;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	font-size: 1.2em;
}

.clicked {
    background: #ff0;
}