<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <!-- <form action="action_page.php">
                    Candidate Search:
                    <input type="search" name="candidatesearch">
                    <input type="submit">
                </form> -->
                <a href="#" class="thumbnail">
                    <div class="intro-text" ng-repeat="Candidate in Candidates">{{Candidate.firstname}}, {{Candidate.lastname}}
                        <img ng-src="Candidate.image_url">
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
