<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <form action="action_page.php">
                    Candidate Search:
                    <input type="search" name="federalcandidatesearch">
                    <input type="submit">
                </form> -->
                <div class="intro-text" ng-repeat="Candidate in Candidates">{{Candidate.firstname}}, {{Candidate.lastname}}
                <img ng-src="{{Candidate.image_url}}">
                </div>
            </div>
        </div>
    </div>
</header>