<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="intro-text">
                    <span class="name">Here Are The Issues</span> 
                    <hr class="star-light">
                    <span class="skills">You Ought to Know</span>
                    <br>
                    <br>
                </div>
                  <div class="row">
                  <link href="css/agency.css" rel="stylesheet">
        </div>
            </div>
        </div>
    </div>
</header>

 
 <ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-1">
            <div class="ch-info" ng-click="go('/GlobalIssues')">
                <h3>Global Issues</h3>
               
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-2">
            <div class="ch-info" ng-click="go('/EconomicIssues')">
                <h3>Economic Issues</h3>
    
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-3">
            <div class="ch-info" ng-click="go('/DomesticIssues')">
                <h3>Domestic Issues</h3>

            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-4">
            <div class="ch-info" ng-click="go('/SocialIssues')">
                <h3>Social Issues</h3>
                
            </div>
        </div>
    </li>
</ul>
        </div>
    </div>